# Terraform
terraform/.terraform/
terraform/.build/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/state-backend/.terraform/
terraform/state-backend/*.tfstate
terraform/state-backend/*.tfstate.backup

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
